@import '../../assets/colors.scss';

// toggle from:
// https://codepen.io/andreasstorm/pen/ZorYLO?editors=1100

.main-container {
    z-index: 5;
    width: 100%;
    height: 100%;
    //background-color: #00000081;
    position: absolute; 
    color: $text-color;
    top: 0; right: 0; bottom: 0; left: 0;
    
}

.menu-background {
    overflow-y: scroll;
    z-index: 6;
    width: 200px;
    height: 100%;
    background-color:$primary-color;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}

.menu-container-top {
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
    height: 75px;
    width: 200px;
    background-color:$primary-color;
}

.menu-container {
    margin-top: 80px;
    height: 80%;
    width: 100%;

    .dragBackground {
        margin: 5px;
        background-color: rgba($text-color,0.4);
        color: black;
        padding-bottom: 5px;
    }
}

.component-checkbox {
    background-color: none;
    width: 25px;
    margin: 0 10px;
    transform: scale(1.5);
    position: relative;
    z-index: 3;
    background: none;
    
}
