.cyberware-container {
    width: 350px;
    height: 100%;
    padding: 5px;
    font-size: 15px;
    margin: 5px;

    

    th td {
        width: 20%;
    }
    .first-column {
        text-align: left;
        width: 65%;

        .first-input {
            text-align: left;
        }
    }

}

