.delete-button-container {
    height: 15px;
    width: 15px;
    border: white 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    
    img {
        height: 15px;
        width: 15px;
        
    }
}