@import "../../assets/colors.scss";

.modded-vehicle-container {
    height: 100%;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
    
    .stat-table {
        position: relative;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;

        table {
            margin: 0 auto;
        }

        .mod-vehicle-input {
            font-size: 10px;
            height: 12px;
            width: 50px;
            padding: 1px;
        }
    }

    .condition-monitor {
        position: relative;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .vehicle-text {
        width: 90%;
        height: 15px;
        margin: 1px auto;
        position: relative;
        top: 00px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

            

            
    
