.vehicles-container {
    //width: 48%;
    height: 100%;
    padding: 5px;
    font-size: 15px;
    margin: 5px;

    .vehicle-box {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-evenly;
        background: none;
    }


}