@import '../../assets/colors.scss';

// toggle from:
// https://codepen.io/andreasstorm/pen/ZorYLO?editors=1100

.check-container {
    height: 20px;
    width: 95%;
    margin: 5px;
    cursor: pointer;
    box-sizing: border-box;
    flex: content;
    background-color: $secondary-color;
    border: black 1px solid;
    display: flex;
    font-size: 13px;
    text-decoration: none;
    color: $text-color;
    align-items: center;

    .btn-label{
        flex-grow: 1;
        text-align: left;
        color: $text-color;
    }
}
  
.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 15px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0,0,0);
    
    &:before {
        content: "";
        position: relative;
        top: 3px;
        left: 3px;
        width: 34px;
        height: 9px;
        display: block;
        background: $primary-color;
        border-radius: 8px;
        transition: background .2s ease;
    }

    .toggle-input {
        flex-grow: 0;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 15px;
        display: block;
        background: $text-color;
        border-radius: 10px;
        box-shadow: 0 3px 8px rgba($primary-color,.5);
        transition: all .2s ease;
    
        &:before {
            content: "";
            position: absolute;
            display: block;
            margin: -18px;
            width: 56px;
            height: 56px;
            background: rgba($primary-color,.5);
            border-radius: 50%;
            transform: scale(0);
            opacity: 1;
            pointer-events: none;
        }
    }
}

.mod-checkbox:checked + .toggle {
    &:before {
        background: $tertiary-color;
    }
    span {
        background: $extra-color;
        transform: translateX(20px);
        transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease;
        box-shadow: 0 3px 8px rgba(black,.2);
    
        &:before {
            transform: scale(1);
            opacity: 0;
            transition: all .4s ease;
        }
    }
}
.button-container {
    background: none;
    border: none;
    
}

