// $primary-color: #2c3531;
// $secondary-color: #116466;
// $tertiary-color: #ce9865;
// $text-color: #d1e8e2;
// $extra-color: #2d0441;

// $primary-color: #687864;
// $secondary-color: #2d545e;
// $tertiary-color: #12343b;
// $text-color: #d3d3d3;
// $extra-color: #6b2c0c;


$primary-color: #0f2c3f;
$secondary-color: #315a53;
//$secondary-color: #0f2c3f;
$tertiary-color: #1d1e22;
$text-color: #ffffffb6;
$extra-color: #632303;
$brighter-extra-color: #883e19;


// $primary-color: #071d44;   //component BG
// $secondary-color: #3c4d58; //sub-component BG
// $tertiary-color: #201e24;  //app BG
// $text-color: #e93c15;      //font
// $extra-color: #bdab8e;     //fields

// $primary-color: #181818e7;   //component BG
// $secondary-color: #424242; //sub-component BG
// $tertiary-color: #2e2e2e;  //app BG
// $text-color: #ffffff;      //font
// $extra-color: #083802;     //fields
// $brighter-extra-color: #105006; 



/*
paste here
Cotton Red: #c53211

Clean Deep Grey: #2e3830

Khaki: #e6dbc9
*/

.App {
    background-color: $tertiary-color;
    color: $text-color;
}

.component-container-color {
    background-color: $primary-color;
    color: $text-color;
}
.label-container {
    color: $text-color;
    background-color: $secondary-color;
}
label {
    color: $text-color;
    background-color: $secondary-color;
}

table {
    background-color: $secondary-color;
}

textarea {
    color: $text-color;
    background-color: $extra-color;
}

input {
    color: $text-color;
    background-color: $extra-color;
}

.subcomponent-color {
    color: $text-color;
    background-color: $secondary-color;
}


.condition-checked-color {
    background-color: red;
    opacity: 0.5;
}

