@import "../../assets/colors.scss";

.condition-container {
    min-width: 370px;
    width: 370px;
    height: 100%;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
    
    .overflow {
        position: relative;
        z-index: 2;
        height: 40px;
        width: 81px;
        top: 0px;
        left: 0px;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
}
