@import '../../assets/colors.scss';

.attributes-container {
    width: 335px;
    height: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 15px;

    .first-header {
        text-align: right;
    }
    .header {
        text-align: center;
    }

    .total-box {
        background-color: $brighter-extra-color;
    }

    .base-attributes {
        text-align: left;
        width: 100%;
        
        .attribute-container {
            display: flex;
        }
    }
    
}

.label-container {
    width: 90px;
    padding: 5px;
    text-align: right;
}

.initiative-container {
    background-color: $extra-color;
    width: 70px;
    padding: 0;
    padding-top: 1px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    height: 22px;

    .initiative-input {
        width: 25px;
        text-align: right;
        height: 17px;
        padding: 5px;
    }

    // div version
    // .initiative-label {
        
    //     text-align: center;
    //     vertical-align: middle;
    //     background: none;
    //     //padding:5px;
    //     padding-top: 1px;
    //     margin: 1px;
    //     width: 22px;
        
    //     height: 20px;
    //     font-size: 18px;
    // }
    .initiative-label {
        
        text-align: center;
        vertical-align: middle;
        background: none;
        
    }
    
}
